/****************************
Ruben Diaz Zapico - UO283204
Descripcion de los estilos
****************************/

body {
  display: grid;
  grid-template-areas: 
    'header'
    'main'
    'footer'
  ;
  gap: 1%;
}

header { 
  grid-area: header;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

nav a {
  margin: 0 auto;
}

main {
  grid-area: main;
  margin: 0 auto;
  padding: 0 1%;
}

video, audio {
  width: 30%;
}

header img {
  vertical-align: bottom;
}

main img {
  width: 30%;
  vertical-align: middle;
}

textarea {
  height: 100px;
  width: 70%;
}

footer {
  grid-area: footer;
  margin: 0 auto;
}